<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>{{ book.title }}</h1>
<h3>{{ book.author }}</h3>
{{ book.year }}<br>
{{ book.isbn }}<br>
Average rating: {{ average_rating }}
Reviews count: {{ reviews_count }}
{% for review in reviews %}
<h3>{{ review.login }}</h3><br>
{{ review.text }}<br>
{% endfor %}
<form action="{{ url_for('detail', id=book.id) }}" method="post">
    <textarea name="newreview"></textarea>
    <button>Post</button>
</form>
{% if reviewed %}
No more!
{% endif %}
</body>
</html>