<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
{% if session["log"] %}

    <h3>Hi, {{ session["firstname"] }} {{ session["lastname"] }}!</h3>
    <a href="{{ url_for('logout') }}">Logout</a>
    <form method="post" action="{{ url_for('index') }}">
        <input type="radio" name="searchparam" id="option1" value="isbn">
        <label for="option1">ISBN</label>
        <input type="radio" name="searchparam" id="option2" value="title">
        <label for="option2">Title</label>
        <input type="radio" name="searchparam" id="option3" value="author">
        <label for="option3">Author</label>
        <input type="text" name="query">
        <button>Search</button>
    </form>
    <ul>
        {% for result in results %}
        <li><a href="{{ url_for('detail', id=result.id) }}">{{ result.isbn }} {{ result.title }}, {{ result.author }} {{ result.year }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <a href="{{ url_for('signup') }}">Signup</a>
    <a href="{{ url_for('login') }}">Login</a>
{% endif %}
</body>
</html>