{% extends 'base.html' %}

{% block body %}

<div class="wrapper" style="min-height: 100%; min-height: 100vh;">
<div class="container-fluid">
<div class="row">
	<div class="col-lg-1 "></div>
	<div class="form col-lg-5">
		<form action="{{ url_for('login') }}" method="post">
			<label for="login">LogIn</label><br>
			<input type="text" name="login" id="login" style="width: 100%;"><br>
			<label for="password">Password</label><br>
			<input type="password" name="password" id="password" style="width: 100%;"><br>
			{% if wrong %}
			<div class="alert alert-danger" role="alert" style="margin: 5px 0 5px 0; width: 100%;">
  				Wrong Data!
			</div>
			{% endif %}
			<button type="submit" class="btn btn-primary" style="margin:10px 20px 10px 0;">LogIn</button>
			Or <a href="{{ url_for('signup') }}">Register</a>
		</form>
	</div>
	<div class="welcome col-lg-5">
		<h2>Welcome To Yoorchenko Library</h2>
	</div>
	<div class="col-lg-1"></div>
</div>
</div>
</div>
{% endblock %}